---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import announcement from '../data/announcement.json';
---
<Layout title="Staff Information Portal | Announcement" meta_description="Staff Information Portal | Announcement" body_class="home">
    <div class="main">
        <Container className="container-content" >         
            <div class="content-container-fullwidth container" >
                <div class="content">				
                    <section class=" announcement" transition:name="media-player"> 
                        <h2>Announcement</h2>
                        <ul class="announcement-list link-card-grid">
                            {announcement.map(announcement => (
                                <li  role="list" class=" list">
                                    <div class="info">
                                        <div class="info-text">
                                        <a href={`${announcement.source}`} target="_blank"><h3>{announcement.title}</h3></a>
                                            <span class="date">{announcement.date_posted}</span>
                                            <div class="description" set:html={announcement.description}></div>
                                        </div>
                                        <div class="info-btn">
                                            <a href={`${announcement.source}`} class="btn btn-yellow" target="_blank">Read More</a>
                                        </div>
                                    </div>
                                </li>
                            ))}      
                        </ul>
                    </section>
                </div>    
            </div>   
        </Container>
    </div>
</Layout>