---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import announcement from '../data/announcement.json';
import employeehub from '../data/employeehub.json';
import globallink from '../data/globallink.json';
import news from '../data/news.json';
---
<Layout title="Staff Information Portal | Employee Hub" meta_description="Staff Information Portal | Employee Hub" body_class="home">
    <div class="main">
        <Container className="container-content ">  
            <div class="content-container-fullwidth container">
                <div class="content">
                    <section class=" employeehub" transition:name="media-player"> 
                        <h2>Employee Hub</h2>
                        <ul class="employeehub-list link-card-grid">
                            {employeehub.map(employeehub => (
                                <li  role="list" class=" list">
                                    <div class="info">
                                        <div class="info-text">
                                        <a href={`${employeehub.source}`} target="_blank"><h3>{employeehub.title}</h3></a>
                                            <span class="date">{employeehub.date_posted}</span>
                                            <p class="description">{employeehub.description}</p>
                                        </div>
                                        <div class="info-btn">
                                            <a href={`${employeehub.source}`} class="btn btn-yellow" target="_blank">Read More >></a>
                                        </div>
                                    </div>
                                </li>
                            ))}      
                        </ul>
                    </section>
                </div>
            </div>   
        </Container>
    </div>    
</Layout>