---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import news from '../data/news.json';
---
<Layout title="Staff Information Portal | Newsletter" meta_description="Staff Information Portal | Newsletter" body_class="home">
    <div class="main">
        <Container className="container-content" >         
            <div class="content-container-fullwidth container" >
                <div class="content">
                    <section class="news" transition:name="slide"> 
                        <h2>News</h2>
                        <div class="global-link">
                            <ul class="news-list">
                                {news.map(news => (
                                    <li class={`${news.news_cat_slug} `} >
                                        <span class={`cat ${news.news_cat_slug}`} set:html={news.news_cat}></span>                                     
                                        <a href={`${news.source}`}  target="_blank" ><h5 set:html={news.title}></h5> </a>
                                        <span class="date" set:html={news.date_posted}></span>
                                        <p set:html={news.description}></p>
                                    </li>
                                ))}
                            </ul>  
                        </div>
                    </section>
                </div>
            </div>   
        </Container>
    </div>    
</Layout>