---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import news from '../data/news.json';
---
<Layout title="Staff Information Portal | Newsletter" meta_description="Staff Information Portal | Newsletter" body_class="home">
    <div class="main">
        <Container className="container-content" >         
            <div class="content-container-fullwidth container" >
                <div class="content">				
                    <section class=" newsletter" transition:name="media-player"> 
                        <h2>Newsletter</h2>
                        <ul class="news-list link-card-grid">
                                {news.map(news => (
                                    <li class={`${news.news_cat_slug} list newsletter-list`} >
                                        <span class={`cat ${news.news_cat_slug}`} set:html={news.news_cat}></span>                                     
                                        <a href={`${news.source}`}  target="_blank" ><h5 set:html={news.title} class="title"></h5> </a>
                                        <span class="date" set:html={news.date_posted}></span>
                                        <p set:html={news.description} class="description"></p>
                                    </li>
                                ))}
                        </ul>
                    </section>
                </div>    
            </div>   
        </Container>
    </div>    
</Layout>